.DS_Store
Thumbs.db
.env


.cache/
.tools/
venv/
.idea/
.vscode/
*.iml
*.so
*.exe
coverage.*
go.work
go.work.sum

tmp
notes/
.cursor/
AGENTS.md
.cursorrules
GEMINI.md
.agent

# Build binary
loadgen/loadgen

metrics_export/
.gcloud/
